body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(48, 48, 48);
}
#root{
    background-color: wheat;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}
input{
    font-size: 20px;
    width: 250px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
}
button{
    margin-top: 20px;
    font-size: 20px;
    padding: 5px;
    width: 100px;
    border-radius: 10px;
}
#root3{
    font-size: 25px;
    margin-top: 10px;
    font-weight: 600;
}